.btn{
  margin: 20px 20px;
  width: 120px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid darkviolet;
  color: darkviolet;
  font-size: 18px;
  background: transparent;
}
.btn:hover{
  background: darkviolet;
  color: #fff;
  cursor: pointer;
}
.wrapper {
  text-align: center;
}
#name-input {
  width: 150px;
}